<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <title>EJS project</title>
</head>
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A recusandae amet vitae consectetur perferendis repellat corrupti. Quod obcaecati cum, recusandae harum neque vitae, molestiae ad ratione, fuga voluptates ipsa! Sequi saepe tenetur, aut consectetur dolore animi vitae quia earum? Culpa, beatae laudantium? In non perferendis, excepturi tempore necessitatibus ab voluptatibus.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>