<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Show Comments</title>
  <%-include("partials/head")%>
</head>
<body>
  <h1><%=returnedComment.username%></h1>
  <h4><%=returnedComment.comment%></h4>
  <form method="POST" action="/comments/<%=returnedComment.id%>?_method=DELETE">
  <button>DELETE</button>
  </form>
</body>
</html>