<!DOCTYPE html>
<html lang="en">
<%-include("partials/head")%>
<body>

    <form action="/comments" method="post">
      <section>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Jane Doe">
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username" name="username">
            </div>
          </div>
          <br>
        </section>
          <section>
              <textarea name="comment" id="" cols="25" rows="2">

                </textarea>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
          </section>
         
        </div>
      </form>
</form>
  
</body>
</html>