<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Comment</title>
  <%-include("partials/head")%>
</head>
<body>
  <form method="POST" action="/comments/<%=editComment.id%>?_method=PATCH">
    <textarea name="comment" id="" cols="30" rows="10">
      <%=editComment.comment%>
    </textarea>
    <button>Save :) </button>
  </form>
</body>
</html>